<button class="btn btn-success" id="btnAddEmployee" [routerLink]="['add']">Add</button>
<h1>Employees</h1>

<ul>
  <li *ngFor="let employee of employees">
    <p [routerLink]="['edit']" [queryParams]="{id:employee.IDEmployeeVacation}">{{ employee.EmployeeFirstName }} {{ employee.EmployeeLastName }}</p>
    <button class="btn btn-prim" (click)="removeEmployee(employee)">Remove</button>
  </li>
</ul>

<div *ngIf="employees == undefined || employees.length == 0">
  <p>There are currently no added employees.</p>
</div>