<h1>Add Employee Vacation</h1>
  <div class="formContainer">
  <br/>
  <form (ngSubmit)="onSubmit()" novalidate>
    <div class="field">
      <label for="name">First name: </label>
      <input 
      #sth
      type="text" 
      id="firstName"
      name="empFirstName"
      [(ngModel)]="empFirstName" 
      required>
    </div>
    <!-- <div [style.display]="empFirstNameValid ? 'block' : 'none'">
      <p>First name is a mandatory field.</p>
    </div> -->

    <div class="field">
      <label for="alterEgo">Last name: </label>
      <input 
      type="text" 
      id="lastName" 
      name="empLastName"
      [(ngModel)]="empLastName"
      required>
    </div>
    <!-- <div [style.display]="empLastNameValid ? 'block' : 'none'">
        <p>Last name is a mandatory field.</p>
      </div> -->

    <div class="field">
      <label for="leaveType">Leave type: </label>
      <select 
      id="leaveType" 
      name="empLeaveType"
      [(ngModel)]="empLeaveType" 
      required >
        <option *ngFor="let type of leaveTypes">{{type}}</option>
      </select>
    </div>

    <div class="field">
      <label for="from">From: </label>
      <input 
      type="date"
      id="from"
      name="empFrom"
      [(ngModel)]="empFrom" 
       >
    </div>
    
    <div class="field">
      <label for="to" >To: </label>
      <input 
      type="date"
      id="to"
      name="empTo"
      [(ngModel)]="empTo" 
      >
    </div>

    <input type="submit" class="btn btn-success" value="Add"/>
  </form>
</div>