<h1>Employee</h1>
  <div class="formContainer">
  <br/>
  <form (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="name">First name: </label>
      <input 
      type="text" 
      id="firstName"
      name="empFirstName"
      [(ngModel)]="employee.EmployeeFirstName" required>
    </div>

    <div class="field">
      <label for="alterEgo">Last name: </label>
      <input 
      type="text" 
      id="lastName" 
      name="empLastName"
      [(ngModel)]="employee.EmployeeLastName" required>
    </div>

    <div class="field">
      <label for="leaveType">Leave type: </label>
      <select 
      id="leaveType" 
      name="empLeaveType"
      [(ngModel)]="employee.vacationType"
      required >
        <option value="" selected disabled hidden>Choose Leave type</option>
        <option *ngFor="let type of leaveTypes">{{type}}</option>
      </select>
    </div>

    <div class="field">
      <label for="from">From: </label>
      <input 
      type="date"
      id="from"
      name="empFrom"
      [(ngModel)]="employee.From"
       >
    </div>
    
    <div class="field">
      <label for="to" >To: </label>
      <input 
      type="date"
      id="to"
      name="empTo"
      [(ngModel)]="employee.To"
      >
    </div>

    <input type="submit" class="btn btn-primary" value="Submit"/>
  </form>
</div>